<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939193095617-2ok35a5h6bpgaqvfcvm72j5g7sg99ai4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939193095617-2ok35a5h6bpgaqvfcvm72j5g7sg99ai4</string>
	<key>API_KEY</key>
	<string>AIzaSyAbIU7D7yWJpdWU_05L1XkT9CXRf-qAX3g</string>
	<key>GCM_SENDER_ID</key>
	<string>939193095617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizish</string>
	<key>PROJECT_ID</key>
	<string>quizish-ee75f</string>
	<key>STORAGE_BUCKET</key>
	<string>quizish-ee75f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939193095617:ios:b1df43857f6c66c8404b40</string>
</dict>
</plist>